# .env.example

# The backend port. Ex: 3030
PORT=

# The SMTP user and from email. Ex: contato@luiztools.com.br
SMTP_USER=

# The SMTP user password. Ex: 123456
SMTP_PWD=

# The SMTP host/server. Ex: smtp umbler.com
SMTP_HOST=

# The SMTP Port. Ex: 587
SMTP_PORT=

# The server has secure SMTP protocol? Ex: true or false
SMTP_SECURE=